*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height:100%;
    margin: 0px;
    padding: 0px;
    background-image: url(ROAMING.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.me{
    border: none;
    background: none;
    text-decoration: none;
    padding: none;
    margin: none;
    outline: none;
    border-width: 0;
}