#see{
    position:relative;
        top: 40px;
        right: 300px;
}
#today{
    position: relative;
        bottom: 10px;
        left: 30px;
}
#text{
    color: white;
}
#cle{
    position: relative;
        bottom: 50px;
        right: 45px;
}